*{
    font-family: 'Roboto', sans-serif;
    color: rgb(34, 20, 20); 
}
.body {
    width: 100%;
}

.calculator {
    margin: auto;
    width: 350px;
    height: 520px;
    background: rgb(109, 120, 224); 
    border-radius: 20px;
    box-shadow: 15px 15px 15px gray;
    border-right: 12px solid rgb(24, 32, 94);
    border-bottom: 12px solid rgb(19, 25, 73);
    
}

.title {
    color: rgb(39, 36, 83);
    margin-top: 150px;
    padding-top: 20px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.calculator_screen {
    height: 50px;
    text-align: right;
    padding-right: 5px;
    margin-left: 28px;
    margin-bottom: 10px;
    background: rgb(206, 207, 218); 
    border-radius: 10px;
    font-size: 1.5em;
}

.row {
    margin-left: 25px;
}

.button{
    height: 55px;
    width: 60px;
    margin: 5px;
    border-top-left-radius: 80%20px;
    border-top-right-radius: 80%20px;
    border-bottom-left-radius: 80%20px;
    border-bottom-right-radius: 80%20px;
    font-size: 1.5em;
    color: rgb(34, 20, 20);
    background: rgb(177, 204, 177);
}